<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Login_</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="./stylesheets/styles.min.css">
    <link rel="stylesheet" href="./stylesheets/style.css">
</head>

<body>
    <header>
        <%- include('./common/header_afterLogin') %>
    </header>

    <!-- 学習開始日と学習終了日の表示フォーマット -->
    <% var startdate=`${room.startdate.getFullYear()}-${room.startdate.getMonth()+1}-${room.startdate.getDate()}`%>
    <% var enddate=`${room.enddate.getFullYear()}-${room.enddate.getMonth()+1}-${room.enddate.getDate()}`%>

    <div>
        <div class="container" style="margin-top: 30px;">
            <div class="row">
                <div class="col-md-6" style="padding: 8px 16px;">
                    <p style="margin: 0px 0px 4px;"><strong>ルーム名</strong><br></p>
                    <p style="margin: 0px 10px 8px;"><%= room.roomname %><br></p>
                </div>
                <div class="col-md-6" style="padding: 8px 16px;">
                    <p style="margin: 0px 0px 4px;"><strong>参考書</strong><br></p>
                    <p style="margin: 0px 10px 8px;"><%= book.booktitle %><br></p>
                </div>
                <div class="col-md-12" style="padding: 8px 16px;">
                    <p style="margin: 0px 0px 4px;"><strong>ルームの概要</strong><br></p>
                    <p style="margin: 0px 10px 8px;"><%= room.sammary %><br></p>
                </div>
                <div class="col-md-12" style="padding: 8px 16px;">
                    <p style="margin: 0px 0px 4px;"><strong>学習期間</strong><br></p>
                    <p style="margin: 0px 10px 8px;"><%=startdate %> ~ <%= enddate %><br></p>
                </div>
            </div>
        </div>
    </div>

    <!-- メインコンテンツ -->
    <div style="background: transparent;padding: 10px;">
        <div class="container">
            <div class="row">
                <div class="col-md-6" style="border-width: 1px;border-style: solid;height: 300px;">
                    <p style="margin: 0px 0px 4px;"><strong>疑問・質問掲示板</strong><br></p>
                    <p style="text-align: left;margin: 0px 0px 8px;"></p>
                </div>
                <div class="col-md-6" style="padding: 5px 15px;border-width: 1px;border-style: solid;height: 300px;">
                    <p style="margin: 0px 0px 4px;"><strong>メンバーとのチャットスペース</strong></p>
                    <div class="chat_area">
                        <p style="text-align: left;margin: 0px 0px 8px;">岡本<br>testmessage1<br>2021/1/13 16:40</p>
                        <p style="text-align: right;margin: 0px 0px 8px;">testmessage2<br>2021/1/13 16:45<br></p>
                    </div>
                </div>
                <div class="col-md-12" style="border-width: 1px;border-style: solid;margin: 8px 0px;">
                    <p style="margin: 0px 0px 4px;"><strong>個人のノートスペース</strong></p>
                    <div class="mark_area">
                        <%- mynote %>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="margin: 8px 16px;">
        <div class="container">
            <div class="row">
                <div class="col">
                    <p style="margin: 0px 0px 4px;"><strong>学習の進捗状況</strong></p>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th style="text-align: center;font-size: 12px;width: 20%;">名前</th>
                                    <% for(var term of schedule){ %>
                                    <th style="text-align: center;font-size: 12px;width: 16%;"><%= term.term_content %><br></th>
                                    <% } %> 
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="text-align: center;">吉川</td>
                                    <td style="text-align: center;background: var(--warning);">完了</td>
                                    <td style="text-align: center;background: var(--warning);">完了</td>
                                    <td style="text-align: center;background: var(--warning);">完了</td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;">坂本</td>
                                    <td style="text-align: center;background: var(--warning);">完了</td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;">丸</td>
                                    <td style="text-align: center;background: var(--warning);">完了</td>
                                    <td style="text-align: center;background: var(--warning);">完了</td>
                                    <td style="text-align: center;background: var(--warning);">完了</td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;">岡本</td>
                                    <td style="text-align: center;background: var(--warning);">完了</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- End: 1 Row 2 Columns -->

    <div class="container">
        <p style="margin: 0px 0px 4px;"><strong>勉強会の情報</strong></p>
        <p style="margin: 0px 10px 8px;"><%= room.meeting %><br></p>
    </div>

    <div class="container" style="margin-top: 50px;margin-bottom: 12px;">
        <a href="./top">Top画面へ戻る</a>
    </div>

    <footer>
        <%- include('./common/footer') %>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.bundle.min.js"></script>
</body>

</html>