<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Login_</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="./stylesheets/styles.min.css">
</head>

<body>
    <div id="app">
        <header>
            <%- include('./common/header') %>
        </header>

        <!-- Start: Login Form Clean -->
        <div class="container-fluid" style="margin: 12px 10px;padding: 3px 15px;">
            <a href="./room/register">学習部屋を作成する</a>
        </div>
        
        <div class="container-fluid" style="margin: 20px 10px;padding: 3px 15px;">
            <strong>学習部屋一覧</strong>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>学習部屋の名前</th>
                            <th style="width: 184px;">学習期間</th>
                            <th>学習仲間</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if(rooms){ %>
                        <% for(var room of rooms){ %> 
                        <% var startdate = `${room.Room.startdate.getFullYear()}-${room.Room.startdate.getMonth()+1}-${room.Room.startdate.getDate()}` %>
                        <% var enddate = `${room.Room.enddate.getFullYear()}-${room.Room.enddate.getMonth()+1}-${room.Room.enddate.getDate()}` %>
                        <tr>
                            <td style="width:10%"><a href="/room?id=<%= room.Room.id %> "><button class="btn btn-primary" type="button">入室</button></a></td>
                            <td style="width:30%; padding: 6px;"><%= room.Room.roomname %></td>
                            <td style="width:20%; padding: 6px;"><%= startdate%> ~ <%= enddate%></td>
                            <td style="width:30%; padding: 6px;">
                                <% for(var username of room.users){ %>
                                    <%= username %>,
                                <% } %>  
                                <span style="margin:0px 20px"><button class="btn btn-primary" data-toggle="modal" data-target="#modal1" @click='getInvitationUrl(<%= room.Room.id%>)' type="button">招待</button></span>
                            </td>
                            <td style="width:10%"><a href="./room.html"><button class="btn btn-primary" type="button">削除</button></a></td>
                        </tr>
                        <% } %>
                        <% } %>
                    </tbody>
                </table>

                <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="label1" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="label1">招待URL</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            URL：{{ invitationUrl }}<br>
                            キーワード：{{ keyword }}<br>
                            有効期限：{{ expireddate }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                        </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <footer>
            <%- include('./common/footer') %>
        </footer>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.bundle.min.js"></script>
        <script src="./javascripts/vue@2"></script>
        <script src="./javascripts/top.js"></script>
    </div>
</body>

</html>